<h1>Hello, friends!</h1>

<p>Soon, and the time is nigh, this site will be more than unstyled headers and paragraphs. It will be an extremely simple, bloggish-like page of stuff and things, odds and ends, and perhaps even doodads.</p>
